@model SmartDb4.Models.LocalPasswordModel

<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.serializeObject.js"></script>

<div id="cpformId">
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.UserName)
        <span id="spanUserId">@ViewBag.UserName</span>

        <div class="pagelayout">
        <div>
            <div class="pull-left">
                <div class="triangleRight" style="float:right;border-color: #FFF #FFF #FFF #6085c6 !important;"></div>
                <div class="rectangle" style="float:right;background: #6085c6 !important">@Html.ActionLink("User", "Index", null, new { style = "color:white;text-decoration: none"})</div>
            </div>
   
            <div style="float:left">
                <div class="triangleLeft pull-left"></div>
                <div class="rectangle pull-left" style="width:150px;">Change Password</div>
                <div class="triangleRight pull-left"></div>
            </div>
        </div>
        <div style="clear: both;height:20px;"></div>
            @*<ol class="breadcrumb">
                <li>@Html.ActionLink("User", "Index")</li>
                <li class="active">Change Password</li>
            </ol>*@
            
            @{
                if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>Error!</strong> @ViewBag.Error
                    </div>
                }
                <div class="alert alert-danger alert-dismissable hide" id="deleteAlert">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="errMsg"></div>
                </div>

            }

            <div class="container labelfont">
                @*<div class="row form-group">
                    <div class="col-md-3 ">
                        @Html.DisplayNameFor(model => model.OldPassword) :
                    </div>
                    <div class="col-md-4 col-md-pull-1">
                        @Html.EditorFor(model => model.OldPassword, new {id = "old"})
                        @Html.ValidationMessageFor(model => model.OldPassword)
                    </div>
                </div>*@
                <div class="row form-group">
                    <div class="col-md-3 ">
                        @Html.DisplayNameFor(model => model.NewPassword) :
                    </div>
                    <div class="col-md-4 col-md-pull-1">
                        @Html.EditorFor(model => model.NewPassword, new {id = "new"})
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </div>
                
                </div>
                <div class="row form-group">
                    <div class="col-md-3 ">
                        @Html.DisplayNameFor(model => model.ConfirmPassword) :
                    </div>
                    <div class="col-md-4 col-md-pull-1">
                        @Html.EditorFor(model => model.ConfirmPassword, new {id = "confirm"})
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2 col-md-offset-2" style="margin-bottom: 10px;">
                        <button type="submit" class="btn btn-success" data-url='@Url.Action("ChangePassword", "User")'>Save</button>
                    </div>
                </div>
            </div>
        </div>
    }



<script>
    $(document).on("click", ".btn-success", function (e) {
        var urlToExec = $(this).data('url');
        $.ajax({
            type: "POST",
            url: urlToExec,
            data: $(this).closest('form').serialize(),
            success: function(data) {
                if (data.Ok == true) {
                    window.location.href = "@Url.Action("Index")";
                } else {
                    $('#deleteAlert').removeClass('hide');
                    $('#errMsg').html("<strong>Error!</strong> " + data.ErrorMessage);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //alert('Change Password Failed -> ' + errorThrown);
                $('#deleteAlert').removeClass('hide');
                $('#errMsg').html("<strong>Error!</strong> " + 'Change Password Failed -> ' + errorThrown);
            }
        });
    });
</script>

</div>