@model SmartDb4.Models.Project

@{
    ViewBag.Title = "Project";
}
<div class="padding-left2 padding-top1">
    <h2>Delete</h2>
    <br/>
    <h3 class="width50 warning" >Are you sure you want to delete this?</h3>
    <fieldset>
        <legend>Project</legend>

        <div class="clear-both">
            <div class="display-label left-div">
                @Html.DisplayNameFor(model => model.ProjectName)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.ProjectName)
            </div>
        </div>
        <div class="clear-both">
            <div class="display-label left-div">
                @Html.DisplayNameFor(model => model.Description)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
        <div class="clear-both">
            <div class="display-label left-div">
                @Html.DisplayNameFor(model => model.StartDate)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.StartDate)
            </div>
        </div>
        <div class="clear-both">
            <div class="display-label left-div">
                @Html.DisplayNameFor(model => model.EndDate)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.EndDate)
            </div>
        </div>
        <div class="clear-both">
            <div class="display-label left-div">
                @Html.DisplayNameFor(model => model.MaxNoOfParticipants)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.MaxNoOfParticipants)
            </div>
        </div>
        <div class="clear-both">
            <div class="display-label left-div">
                @Html.DisplayNameFor(model => model.Classification.ClassificationName)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Classification.ClassificationName)
            </div>
        </div>
        <div class="clear-both">
            <div class="display-label left-div">
                @Html.DisplayNameFor(model => model.Supervisor.UserName)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Supervisor.UserName)
            </div>
        </div>
    </fieldset>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
</div>